body {
    background-color: #E0DBD0;
    color: brown;
    margin: 80px;
}

.cover {
    position: relative;
    text-align: center;
  }

.arrow {
    font-family: 'Codystar', cursive;
    color: black;
}

.jayne-pic1 {
    width: 35%;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    float: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 104px;
    font-family: 'Marcellus', serif;
    font-weight: 100;
    text-align: center;
    color: #C4A386;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: 100;
}

h2 {
    font-size: 104px;
    font-family: 'Marcellus', serif;
    font-weight: 100;
    text-align: center;
    color: #33302b;
    margin: 0px;
}

h3 {
    text-align: center;
    color:#33302b;
    font-family: 'Marcellus', serif;
    font-size: 44px;
}

h4 {
    text-align: center;
    font-size: 30px;
    color: #967740;
    font-weight: 100;
}

.material-icons {
    font-size: 60px;
}

#section2 {
    font-size: 20px;
    text-align: justify;
    margin: auto;
    width: 60%;
    font-family: 'Lato', sans-serif;
    color: #33302b;
}

.jayne-pic2 {
    float: left;
    width: 45%;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flex-menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Marcellus', serif;
    color: #33302b;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f4b5ab;
}

span:hover {
    color: #f4b5ab;
    cursor:default;
}

.space {
    height: 100px;
}
