body {
    background-color: black;
    color: white;
    margin: 80px;
}

h1 {
    font-size: 184px;
    font-family: 'Marcellus', serif;
    margin-top: 0px;
}

h4 {
    text-align: center;
    font-size: 30px;
    margin-top: -120px;
    margin-left: 380px;
    position: absolute;
}

p {
    font-size: 22px;
    text-align: justify;
}
nav {
    text-align: right;
    color: white;
}

nav > ul > li {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 60px;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Marcellus', serif;
}

a:hover {
    color: #f4b5ab;
}

span:hover {
    color: #f4b5ab;
}

img {
    float: left;
}

.space {
    height: 200px;
}

.profile {
    display: flex;
    width: 600px;
    height: 500px;
    align-items: flex-end;
    margin-left: 400px;
}

textarea  {
    width:60%;
    resize: vertical;
    padding:15px;
    border-radius:5px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
  }


  /* icon: https://fortawesome.github.io/Font-Awesome/icons/ */
/* Animation: https://daneden.github.io/animate.css/ */
  
  .arrow-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }
  
  .arrow-1{
    width: 100px;
    height: 100px;
    background: #00BCD4;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
  }
  
  .arrow-2{
    width: 60px;
    height: 60px;
    background: #00BCD4;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
  }
  
  .arrow-2:before{
    width: 52px;
    height: 52px;
    content: "";
    border: 2px solid #006064;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  
  .arrow-2 i.fa{
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #006064;
  }
  
  /* Custom Animate.css */
  
  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }